#data{
    padding-top: 50px;
    margin-inline:300px;
    text-align: center;
    background-color: blueviolet;
}
#table{
    border: 2px solid black;
    /* outline: #4CAF50 solid 10px; */
    margin: auto;  
    padding: 20px;
    text-align: center;
  }
  #bt{
    background-color: #008CBA;
  }